In [20]:
import numpy as np
import os
import time

In [22]:
n = 100
min = 0
max = 50
array = np.random.randint(min, max, (n))
array

array([30, 38, 49, 38, 24,  2,  8, 11, 27, 41, 43, 24, 32, 30, 17, 17, 31,
        1, 33,  1, 46, 30, 13, 29, 48,  7,  7, 28, 47, 16, 16,  9, 17,  8,
       44, 12,  6,  3, 25, 31, 17, 15, 20,  1, 22,  3, 38, 38, 32, 43, 18,
       11, 42, 42, 15, 27, 41, 30, 12,  3, 47, 22, 18, 43, 26, 44, 30, 46,
       13, 44, 10,  6, 36, 35, 46, 39,  5, 44, 35, 14, 24,  4,  8, 45, 29,
       13, 20, 12, 15, 17, 16, 31,  6, 25, 13, 24, 28, 34, 14, 34])

In [23]:
sum = 0
start = time.time()
for i in range(n):
  sum += array[i]

end = time.time()
print(sum)
print('time taken: ', end - start)

2424
time taken:  0.0001583099365234375