ASHOK KUMAR

E18CSE029


LAB 3

In [31]:
import pandas as pd
df = pd.read_csv('/content/BitcoinHeistData.csv')
df.info()
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246470 entries, 0 to 246469
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   address    246470 non-null  object
 1   year       246469 non-null  float64
 2   day        246469 non-null  float64
 3   length     246469 non-null  float64
 4   weight     246469 non-null  float64
 5   count      246469 non-null  float64
 6   looped     246469 non-null  float64
 7   neighbors  246469 non-null  float64
 8   income     246469 non-null  float64
 9   label      246469 non-null  object
dtypes: float64(8), object(2)
memory usage: 18.8+ MB

(246470, 10)

In [20]:
df.rename(columns={'count':'csv_count'},inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246470 entries, 0 to 246469
Data columns (total 10 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   address    246470 non-null  object
 1   year       246469 non-null  float64
 2   day        246469 non-null  float64
 3   length     246469 non-null  float64
 4   weight     246469 non-null  float64
 5   csv_count  246469 non-null  float64
 6   looped     246469 non-null  float64
 7   neighbors  246469 non-null  float64
 8   income     246469 non-null  float64
 9   label      246469 non-null  object
dtypes: float64(8), object(2)
memory usage: 18.8+ MB

In [15]:
df.label.value_counts(normalize=True)*100
#white : not associated with malware
#everything other than white: associated with malware

white                          83.197481
paduaCryptoWall                 5.027001
montrealCryptoLocker            3.779380
princetonCerber                 3.742053
princetonLocky                  2.687965
montrealCryptXXX                0.981462
montrealNoobCrypt               0.195968
montrealDMALockerv3             0.143629
montrealDMALocker               0.101838
montrealSamSam                  0.025155
montrealGlobeImposter           0.022315
montrealCryptoTorLocker2015     0.022315
montrealGlobev3                 0.013795
montrealGlobe                   0.012983
montrealWannaCry                0.011360
montrealRazy                    0.005274
montrealAPT                     0.004463
paduaKeRanger                   0.004057
montrealFlyper                  0.003652
montrealXTPLocker               0.003246
montrealVenusLocker             0.002840
montrealCryptConsole            0.002840
montrealXLockerv5.0             0.002840
montrealEDA2                    0.002434
montrealJigSaw                  0.001623
paduaJigsaw                     0.000811
montrealSam                     0.000406
montrealComradeCircle           0.000406
montrealXLocker                 0.000406
Name: label, dtype: float64

In [18]:
df.head(10)

                              address    year  ...       income            label
0   111K8kZAEnJg245r2cM6y9zgJGHZtJPy6  2017.0  ...  100050000.0  princetonCerber
1  1123pJv8jzeFQaCV4w644pzQJzVWay2zcA  2016.0  ...  100000000.0   princetonLocky
2  112536im7hy6wtKbpH1qYDWtTyMRAcA2p7  2016.0  ...  200000000.0  princetonCerber
3  1126eDRw2wqSkWosjTCre8cjjQW8sSeWH7  2016.0  ...   71200000.0  princetonCerber
4  1129TSjKtx65E35GiUo4AYVeyo48twbrGX  2016.0  ...  200000000.0   princetonLocky
5  112AmFATxzhuSpvtz1hfpa3Zrw3BG276pc  2016.0  ...   50000000.0   princetonLocky
6  112E91jxS2qrQY1z78LPWUWrLVFGqbYPQ1  2016.0  ...  100000000.0  princetonCerber
7  112eFykaD53KEkKeYW9KW8eWebZYSbt2f5  2016.0  ...  100990000.0  princetonCerber
8  112FTiRdJjMrNgEtd4fvdoq3TC33Ah5Dep  2016.0  ...   80000000.0  princetonCerber
9  112GocBgFSnaote6krx828qaockFraD8mp  2016.0  ...   50000000.0   princetonLocky

[10 rows x 10 columns]

In [32]:
from sklearn import preprocessing 
label_encoder = preprocessing.LabelEncoder() 
df['address']=label_encoder.fit_transform(df['address'])
#converting label column to string
df['label'] = df['label'].astype(str)
df['label']=label_encoder.fit_transform(df['label'])

In [33]:
df.head(10)

   address    year    day  length  ...  looped  neighbors       income  label
0        1  2017.0   11.0    18.0  ...     0.0        2.0  100050000.0     27
1        8  2016.0  132.0    44.0  ...     0.0        1.0  100000000.0     28
2       14  2016.0  246.0     0.0  ...     0.0        2.0  200000000.0     27
3       17  2016.0  322.0    72.0  ...     0.0        2.0   71200000.0     27
4       22  2016.0  238.0   144.0  ...     0.0        1.0  200000000.0     28
5       25  2016.0   96.0   144.0  ...     0.0        1.0   50000000.0     28
6       30  2016.0  225.0   142.0  ...     0.0        2.0  100000000.0     27
7       71  2016.0  324.0    78.0  ...     0.0        2.0  100990000.0     27
8       33  2016.0  298.0   144.0  ...     0.0        2.0   80000000.0     27
9       35  2016.0   62.0   112.0  ...     0.0        1.0   50000000.0     28

[10 rows x 10 columns]

In [36]:
#creating 2 different tables
def shift():
    X=df.drop('label',axis=1)
    y=df['label']
    return X,y
shift()

(        address    year    day  length  ...  count  looped  neighbors        income
 0             1  2017.0   11.0    18.0  ...    1.0     0.0        2.0  1.000500e+08
 1             8  2016.0  132.0    44.0  ...    1.0     0.0        1.0  1.000000e+08
 2            14  2016.0  246.0     0.0  ...    1.0     0.0        2.0  2.000000e+08
 3            17  2016.0  322.0    72.0  ...    1.0     0.0        2.0  7.120000e+07
 4            22  2016.0  238.0   144.0  ...  456.0     0.0        1.0  2.000000e+08
 ...         ...     ...    ...     ...  ...    ...     ...        ...           ...
 246465    29582  2011.0  215.0    18.0  ...    1.0     0.0        1.0  1.891284e+08
 246466    33029  2011.0  215.0   102.0  ...    1.0     0.0        2.0  3.733500e+08
 246467    60595  2011.0  215.0    18.0  ...    1.0     0.0        1.0  1.507000e+09
 246468   123803  2011.0  215.0    12.0  ...   16.0     0.0        1.0  1.010000e+08
 246469   180802     NaN    NaN     NaN  ...    NaN     NaN        NaN           NaN

 [246470 rows x 9 columns], 0         27
 1         28
 2         27
 3         27
 4         28
           ..
 246465    29
 246466    29
 246467    29
 246468    29
 246469    23
 Name: label, Length: 246470, dtype: int64)

In [45]:
def fsamp():
    X,y=f1()
    d={}
    for i in y:
        if i not in d:
            d[i]=1
    print(len(d))
fsamp()

30

In [47]:
from sklearn.model_selection import train_test_split
X,y = f1()
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

model =keras.models.Sequential([
    layers.Dense(units=300,activation='relu',input_shape=[9]),
    layers.Dense(units=512,activation='relu'),
    layers.Dense(units=30,activation ='softmax'),
])
model.summary()
model.compile(loss='sparse_categorical_crossentropy', optimizer="sgd", metrics=['accuracy'])
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.5,random_state=0)
model_history=model.fit(X_train,y_train,validation_data=(X_test,y_test),batch_size=1000,epochs=30)

Model: "sequential_7"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_21 (Dense)             (None, 300)               3000
_________________________________________________________________
dense_22 (Dense)             (None, 512)               154112
_________________________________________________________________
dense_23 (Dense)             (None, 30)                15390
=================================================================
Total params: 172,502
Trainable params: 172,502
Non-trainable params: 0
_________________________________________________________________
Epoch 1/30
124/124 [==============================] - 5s 37ms/step - loss: 1242421949213802805924437426176.0000 - accuracy: 0.7700 - val_loss: nan - val_accuracy: 0.8327
Epoch 2/30
124/124 [==============================] - 4s 34ms/step - loss: 2.4923 - accuracy: 0.8306 - val_loss: nan - val_accuracy: 0.8327
Epoch 3/30
124/124 [==============================] - 4s 34ms/step - loss: 1.8944 - accuracy: 0.8305 - val_loss: nan - val_accuracy: 0.8327
Epoch 4/30
124/124 [==============================] - 4s 34ms/step - loss: 1.4974 - accuracy: 0.8304 - val_loss: nan - val_accuracy: 0.8327
Epoch 5/30
124/124 [==============================] - 4s 34ms/step - loss: 1.2752 - accuracy: 0.8285 - val_loss: nan - val_accuracy: 0.8327
Epoch 6/30
124/124 [==============================] - 4s 34ms/step - loss: 1.1407 - accuracy: 0.8318 - val_loss: nan - val_accuracy: 0.8327
Epoch 7/30
124/124 [==============================] - 4s 34ms/step - loss: 1.0767 - accuracy: 0.8305 - val_loss: nan - val_accuracy: 0.8327
Epoch 8/30
124/124 [==============================] - 4s 34ms/step - loss: 1.0341 - accuracy: 0.8310 - val_loss: nan - val_accuracy: 0.8327
Epoch 9/30
124/124 [==============================] - 4s 34ms/step - loss: 0.9998 - accuracy: 0.8332 - val_loss: nan - val_accuracy: 0.8327
Epoch 10/30
124/124 [==============================] - 4s 34ms/step - loss: 0.9965 - accuracy: 0.8298 - val_loss: nan - val_accuracy: 0.8327
Epoch 11/30
124/124 [==============================] - 4s 34ms/step - loss: 0.9809 - accuracy: 0.8304 - val_loss: nan - val_accuracy: 0.8327
Epoch 12/30
124/124 [==============================] - 4s 34ms/step - loss: 0.9674 - accuracy: 0.8313 - val_loss: nan - val_accuracy: 0.8327
Epoch 13/30
124/124 [==============================] - 4s 36ms/step - loss: 0.9604 - accuracy: 0.8311 - val_loss: nan - val_accuracy: 0.8327
Epoch 14/30
124/124 [==============================] - 4s 36ms/step - loss: 0.9481 - accuracy: 0.8322 - val_loss: nan - val_accuracy: 0.8327
Epoch 15/30
124/124 [==============================] - 4s 35ms/step - loss: 0.9461 - accuracy: 0.8313 - val_loss: nan - val_accuracy: 0.8327
Epoch 16/30
124/124 [==============================] - 4s 35ms/step - loss: 0.9360 - accuracy: 0.8322 - val_loss: nan - val_accuracy: 0.8327
Epoch 17/30
124/124 [==============================] - 4s 34ms/step - loss: 0.9349 - accuracy: 0.8313 - val_loss: nan - val_accuracy: 0.8327
Epoch 18/30
124/124 [==============================] - 4s 34ms/step - loss: 0.9279 - accuracy: 0.8317 - val_loss: nan - val_accuracy: 0.8327
Epoch 19/30
124/124 [==============================] - 4s 35ms/step - loss: 0.9206 - accuracy: 0.8322 - val_loss: nan - val_accuracy: 0.8327
Epoch 20/30
124/124 [==============================] - 4s 36ms/step - loss: 0.9193 - accuracy: 0.8315 - val_loss: nan - val_accuracy: 0.8327
Epoch 21/30
124/124 [==============================] - 4s 36ms/step - loss: 0.9160 - accuracy: 0.8312 - val_loss: nan - val_accuracy: 0.8327
Epoch 22/30
124/124 [==============================] - 4s 35ms/step - loss: 0.9153 - accuracy: 0.8303 - val_loss: nan - val_accuracy: 0.8327
Epoch 23/30
124/124 [==============================] - 4s 36ms/step - loss: 0.9113 - accuracy: 0.8302 - val_loss: nan - val_accuracy: 0.8327
Epoch 24/30
124/124 [==============================] - 4s 36ms/step - loss: 0.8966 - accuracy: 0.8328 - val_loss: nan - val_accuracy: 0.8327
Epoch 25/30
124/124 [==============================] - 4s 35ms/step - loss: 0.8983 - accuracy: 0.8315 - val_loss: nan - val_accuracy: 0.8327
Epoch 26/30
124/124 [==============================] - 4s 35ms/step - loss: 0.8961 - accuracy: 0.8310 - val_loss: nan - val_accuracy: 0.8327
Epoch 27/30
124/124 [==============================] - 4s 35ms/step - loss: 0.8989 - accuracy: 0.8294 - val_loss: nan - val_accuracy: 0.8327
Epoch 28/30
124/124 [==============================] - 4s 35ms/step - loss: 0.8873 - accuracy: 0.8313 - val_loss: nan - val_accuracy: 0.8327
Epoch 29/30
124/124 [==============================] - 4s 35ms/step - loss: 0.8882 - accuracy: 0.8300 - val_loss: nan - val_accuracy: 0.8327
Epoch 30/30
124/124 [==============================] - 4s 35ms/step - loss: 0.8801 - accuracy: 0.8312 - val_loss: nan - val_accuracy: 0.8327

In [48]:
model_history.history

{'accuracy': [0.8179656863212585,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574,
  0.8312411308288574],
 'loss': [2.8578349022275418e+29,
  2.331785202026367,
  1.781144618988037,
  1.429012656211853,
  1.2307120561599731,
  1.1229249238967896,
  1.062403917312622,
  1.0262057781219482,
  1.002980351448059,
  0.9868782758712769,
  0.9749154448509216,
  0.9654749035835266,
  0.9575993418693542,
  0.9507535696029663,
  0.9445913434028625,
  0.938909649848938,
  0.9335790276527405,
  0.9285162687301636,
  0.9236764311790466,
  0.9190142154693604,
  0.9145083427429199,
  0.9101470708847046,
  0.9059181809425354,
  0.9018105864524841,
  0.897822380065918,
  0.8939484357833862,
  0.8901863694190979,
  0.8865301012992859,
  0.8829832673072815,
  0.8795429468154907],
 'val_accuracy': [0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784,
  0.8327017426490784],
 'val_loss': [nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan,
  nan]}

In [49]:
model_history.params

{'epochs': 30, 'steps': 124, 'verbose': 1}

In [50]:
model.evaluate(X_test,y_test)

3852/3852 [==============================] - 6s 1ms/step - loss: nan - accuracy: 0.8327

[nan, 0.8327017426490784]

In [54]:
model.save('btcheist.h5')